<!-- You can now use fusioncharts component in app.component.html -->
<h1>
  {{title}}
</h1>
<h2>column 2d</h2>
<app-column2d></app-column2d>
<hr style="border: 2px solid;">
<h2>worldmap</h2>
<app-worldmap></app-worldmap>
<hr style="border: 2px solid;">
<h2>chord</h2>
<app-chord></app-chord>
<hr style="border: 2px solid;">
<h2>interactive candle</h2>
<app-interactivecandle></app-interactivecandle>
<hr style="border: 2px solid;">
<h2>pareto</h2>
<app-pareto></app-pareto>
<hr style="border: 2px solid;">
<h2>piechart 2d</h2>
<app-piechart2d></app-piechart2d>
<hr style="border: 2px solid;">
<h2>radar</h2>
<app-radar></app-radar>
<hr style="border: 2px solid;">
<h2>ratingmeter</h2>
<app-ratingmeter></app-ratingmeter>
<hr style="border: 2px solid;">
<h2>scatter</h2>
<app-scatter></app-scatter>
<hr style="border: 2px solid;">
<h2>simplebar</h2>
<app-simplebar></app-simplebar>
<hr style="border: 2px solid;">
<h2>simplebubble</h2>
<app-simplebubble></app-simplebubble>
<hr style="border: 2px solid;">
<h2>simple gantt</h2>
<app-simplegantt></app-simplegantt>
<hr style="border: 2px solid;">
<h2>simple line</h2>
<app-simpleline></app-simpleline>
<hr style="border: 2px solid;">
<h2>treemap</h2>
<app-treemap></app-treemap>
<hr style="border: 2px solid;">
<h2>multiple time series</h2>
<app-multipleseriestime></app-multipleseriestime>
<hr style="border: 2px solid;">